/* Estilo global para o body e html */
html, body {
    height: 100%; /* Define altura como 100% para ocupar toda a tela */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Define a família de fontes */
    background-color: #ccbbf2; /* Cor de fundo */
    display: flex; /* Usa Flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Estilo do formulário */
form {
    background-color: rgb(184, 156, 251); /* Cor de fundo */
    padding: 98px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 300px; /* Largura do formulário */
    text-align: center; /* Alinha o conteúdo no centro */
}

/* Estilo do label */
label {
    display: block; /* Mostra o label como bloco */
    margin-bottom: 30px; /* Espaçamento inferior */
}

/* Estilo do input de CPF */
input[type="text"] {
    width: calc(100% - 20px); /* Calcula a largura para ajustar ao formulário */
    padding: 8px; /* Espaçamento interno */
    border: 1px solid rgb(0, 0, 0); /* Borda Preta */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 14px; /* Tamanho da fonte */
    box-sizing: border-box; /* Mantém a largura consistente com o padding e a borda */
}

/* Estilo do botão */
button[type="submit"] {
    
    background-color: #361352; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 70px; /* Espaçamento interno */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Mostra o cursor de mão */
    font-size: 14px; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

/* Estilo do botão quando hover */
button[type="submit"]:hover {
    background-color: #641a95; /* Cor de fundo alterada no hover */
}

/* Estilo para exibir mensagem de validação */
#message {
    margin-top: 100px; /* Espaçamento superior */
    font-size: 15px; /* Tamanho da fonte */
    color: rgb(75, 16, 16); /* Cor do texto */

}
